{% extends 'common/index.html' %}

{% block content %}
    <div class="destination-catalogue">
        <div class="picture-content-catalogue">
            <img src="{{ destination.image.url }}">
            <div>
                <h1>{{ destination.name }}</h1>
                <p>{{ destination.location }}</p>
                <p>{{ destination.description }}</p>
                {% if destination.hotel %}
                    <p>Hotel: {{ destination.hotel }}</p>
                {% endif %}
                {% if destination.price %}
                    <p>Price per night: {{ destination.price }}$</p>
                {% endif %}
                <div class="buttons-div">
                    <button class="btn"><a href="{% url 'catalogue' %}">Back</a></button>
                </div>
            </div>
        </div>
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDo2Jl-RLvS0i161gcRVmedZsNtsjLDfGM&callback=initMap&libraries=maps,marker&v=beta">
    </script>
    <gmp-map center="{{ latitude }},{{ longitude }}" zoom="10" map-id="DEMO_MAP_ID" ></gmp-map>
    </div>
{% endblock %}