{% extends 'common/index.html' %}

{% block content %}
    <div class="destination-catalogue">
        <div class="picture-content-catalogue">
            <img src="{{ destination.image.url }}">
            <div>
                <h1>{{ destination.name }}</h1>
                <p>{{ destination.location }}</p>
                <p>{{ destination.description }}</p>
                {% if destination.hotel %}
                    <p>Hotel: {{ destination.hotel }}</p>
                {% endif %}
                {% if destination.price %}
                    <p>Price per night: {{ destination.price }}$</p>
                {% endif %}
                <form class="destination-details" method="post" action="{% url 'catalogue' %}">
                    {{ form }}
                    {% csrf_token %}
                    <button>Submit</button>
                </form>
            </div>

        </div>

    </div>


{% endblock %}