{% load static %}
<html>
  <head>
    <title>Simple Map</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/map.css' %}" />

    <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDo2Jl-RLvS0i161gcRVmedZsNtsjLDfGM&callback=initMap&libraries=maps,marker&v=beta">
    </script>

    <script>
      function initMap() {
        console.log('Maps JavaScript API loaded.');
      }
    </script>

  </head>
  <body>
    <gmp-map center="42.6977082,23.3218675" zoom="10" map-id="DEMO_MAP_ID"></gmp-map>
  </body>
</html>