{% load static %}
{% load custom_filter %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Destinations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
  <body>
  <header>
    <div id="logo">
        <img src="{% static 'images/clipart904585.png' %}"/>
        <a href="{% url 'home' %}">Home</a>
    </div>
    <nav>
      <div>
            <form id="searchbar" method="post">
                {{ form.target }}
                {% csrf_token %}
                {% if form.target %}
                    <button type="submit">Search</button>
                {% endif %}
            </form>
        </div>
      <ul role="list">
        <li><a href="#">Explore</a></li>
        <li><a href="{% url 'catalogue' %}">Destinations</a></li>
      </ul>
      <ul role="list" class="register-btns">
      {% if not user.is_authenticated %}
            <li><a href="{% url 'create profile' %}">SignIn</a></li>
            <li><a href="{% url 'login' %}">LogIn</a></li>
      {% else %}
            <li><a href="{% url 'create destination' %}">Add Destination</a></li>
            <li><a href="{% url 'details profile' %}">Profile</a></li>
            <li><a href="{% url 'logout options' %}">LogOut</a></li>
      {% endif %}
      </ul>
    </nav>
  </header>

  <main>
    {% for destination in destinations %}
        <div class="destination-catalogue">
            <div class="picture-content-catalogue">
                <div>
                    <img class="img-destination" src="{{ destination.image }}">
                    <p>Posted by {{ destination|filter_author }}</p>
                     <div class="buttons-catalogue">
                         {% if destination.id in liked_destinations %}
                             <a href="{% url 'like' destination.pk %}"><i class="fa-solid fa-thumbs-up"></i> {{ destination|filter_likes }}</a>
                         {% else %}
                             <a href="{% url 'like' destination.pk %}"><i class="fa-regular fa-thumbs-up"></i> {{ destination|filter_likes }}</a>
                         {% endif %}
                         {% if destination.id in favorite_destinations %}
                             <a href="{% url 'add favorite' destination.pk %}"><i class="fa-solid fa-star"></i>Favorite</a>
                         {% else %}
                             <a href="{% url 'add favorite' destination.pk %}"><i class="fa-regular fa-star"></i>Favorite</a>
                         {% endif %}
                     </div>


                      <form class="destination-details" method="post" action="">
                          {{ form }}
                          {% csrf_token %}
                          <input type="hidden" name="destination" value="{{ destination.id }}">
                          <button id="comment-btn">Submit</button>
                     </form>
                </div>

                 <div class="comments-div">
                     <h1>{{ destination.name }}</h1>
                     <p>{{ destination.location }}</p>
{#                     <p>{{ destination.description }}</p>#}
                     <h2 class="comments-header">Comments:</h2>
                     <div class="commented-div">

                     {% for comment in destination|filter_comments %}
                         <div class="comment-content imessage">
                         <p class="comment-user"><i class="fa-solid fa-at" style="font-size: 15px"></i>{{ comment|filter_author_comment }}</p>
                         <p class="from-them">{{ comment }}
                             <a href="{% url 'delete comment' comment.pk %}"><i class="fa-solid fa-trash"></i></a>
                             <a href=""><i class="fa-solid fa-pencil"></i></a>
                         </p>
                         </div>
                     {% endfor %}
                     </div>
                    <div class="buttons-div">
                         <button class="btn"><a href="{% url 'details destination' destination.pk %}">More info</a></button>
                    </div>
                 </div>
            </div>
        </div>
    {% endfor %}


{#  Paginator -- Start #}

{#      <div class="pagination">#}
{#    {% if page_obj.has_previous %}#}
{#        <a class="previous" href="?page={{ page_obj.previous_page_number }}">#}
{#            <span class="page-number">{{ page_obj.previous_page_number }}</span>#}
{#            <i class="fa-solid fa-chevron-left"></i>#}
{#        </a>#}
{#    {% endif %}#}
{##}
{#    <span class="current-page">{{ page_obj.number }}</span>#}
{##}
{#    {% if page_obj.has_next %}#}
{#        <a class="next" href="?page={{ page_obj.next_page_number }}">#}
{#            <i class="fa-solid fa-chevron-right"></i>#}
{#            <span class="page-number">{{ page_obj.next_page_number }}</span>#}
{#        </a>#}
{#    {% endif %}#}
{#    </div>#}
{##}
{#    {% if not page_obj %}#}
{#        <div class="destination-catalogue">#}
{#            <p>There is no one destination at this moment <i class="fa-regular fa-face-pensive"></i></p>#}
{#        </div>#}
{#    {% endif %}#}

{#  Paginator --End #}


    {% if not destinations %}
        <div class="destination-catalogue">
            <p>There is no one destination at this moment <i class="fa-regular fa-face-pensive"></i></p>
        </div>
    {% endif %}
  </main>

<footer>
    <p>&copy; 2023 Destination Catalogue. All rights reserved.</p>
      <div id="connect">
          <a href="https://www.facebook.com/" target="_blank" class="facebook"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://www.instagram.com/" target="_blank" class="instagram"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://twitter.com/" target="_blank" class="twitter"><i class="fa-brands fa-twitter"></i></a>
          <a href="#" target="_blank" class="googleplus"><i class="fa-brands fa-google-plus"></i></a>
      </div>
  </footer>
</body>
</html>

