{% load static %}
{% load custom_filter %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Destinations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<header>
    <div id="logo">
        <img src="{% static 'images/clipart904585.png' %}"/>
        <a href="{% url 'home' %}">Home</a>
    </div>
    <nav>
        <div>
            <form id="searchbar" method="post">
                {{ form.target }}
                {% csrf_token %}
                {% if form.target %}
                    <button type="submit">Search</button>
                {% endif %}
            </form>
        </div>
        <ul role="list">
            <li><a href="{% url 'explore' %}">Explore</a></li>
            <li><a href="{% url 'catalogue' %}">Destinations</a></li>
        </ul>
        <ul role="list" class="register-btns">
            {% if not user.is_authenticated %}
                <li><a href="{% url 'create profile' %}">Register</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            {% else %}
                <li><a href="{% url 'create destination' %}">Add Destination</a></li>
                <li><a href="{% url 'details profile' %}">Profile</a></li>
                <li><a href="{% url 'logout options' %}">Logout</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<main class="main-catalogue">
    {% for destination in page_obj %}
        <div class="destination-catalogue">
            <div class="picture-content-catalogue">
                <div class="forms">
                    <img class="img-destination animation-slide-left" src="{{ destination.image }}" loading="lazy">
                    <p>Posted by {{ destination|filter_author }}</p>
                    <div class="buttons-catalogue">
                        {% if destination.id in liked_destinations %}
{#                            <a href="{% url 'like' destination.pk %}"><i#}
                              <a href="" id="{{ destination.pk }}"><i
                                    class="fa-solid fa-thumbs-up"></i> {{ destination|filter_likes }}</a>
                        {% else %}
{#                            <a href="{% url 'like' destination.pk %}"><i#}
                              <a href="" id="{{ destination.pk }}"><i
                                    class="fa-regular fa-thumbs-up"></i> {{ destination|filter_likes }}</a>
                        {% endif %}
                        {% if destination.id in favorite_destinations %}
                            <a href="{% url 'add favorite' destination.pk %}"><i
                                    class="fa-solid fa-star"></i>Favorite</a>
                        {% else %}
                            <a href="{% url 'add favorite' destination.pk %}"><i class="fa-regular fa-star"></i>Favorite</a>
                        {% endif %}
                    </div>
                    <form class="destination-details" method="post" action="">
                        {{ form }}
                        {% csrf_token %}
                        <input type="hidden" name="destination" value="{{ destination.id }}">
                        <button id="comment-btn">Submit</button>
                    </form>
                </div>

                <div class="comments-div">
                    <h1>{{ destination.name }}</h1>
                    <p>{{ destination.location }}</p>
                    <h2 class="comments-header">Comments:</h2>
                    <div class="commented-div">

                        {% for comment in destination|filter_comments %}
                            <div class="comment-content imessage">
                                <p class="comment-user"><i class="fa-solid fa-at"
                                                           style="font-size: 15px"></i>{{ comment|filter_author_comment }}
                                </p>
                                <p class="from-them" id="{{ comment.id }}">{{ comment }}
                                    <a href="{% url 'delete comment' comment.pk %}"><i
                                            class="fa-solid fa-trash"></i></a>
{#                                    <a href="{% url 'edit comment' comment.pk %}"><i class="fa-solid fa-pencil"></i></a>#}
                                      <a href=""><i class="fa-solid fa-pencil"></i></a>
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="buttons-div">
                        <button class="btn"><a href="{% url 'details destination' destination.pk %}">More info</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if page_obj %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; </a>
                <a href="?page={{ page_obj.previous_page_number }}">&lsaquo; </a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if num == page_obj.number %}
                    <span class="current-page">{{ num }}</span>
                {% elif num == page_obj.number|add:'1' or num == page_obj.paginator.num_pages %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"> &rsaquo;</a>
                <a href="?page={{ total_pages }}"> &raquo;</a>
            {% endif %}
        </div>
    {% else %}
        <h1 class="profile-details destination-catalogue profile">There are no destinations at the moment.</h1>
    {% endif %}
</main>

<script>
    const userData = {currentUser: '{{ user }}'};
</script>
<script src="{% static 'js/editComment.js' %}"></script>
<script src="{% static 'js/likeDestination.js' %}"></script>

<footer>
    <p>&copy; 2023 Destinations Catalogue. G.Georgieva - All rights reserved.</p>
    <div id="connect">
        <a href="https://www.facebook.com/" target="_blank" class="facebook"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/" target="_blank" class="instagram"><i
                class="fa-brands fa-instagram"></i></a>
        <a href="https://twitter.com/" target="_blank" class="twitter"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://support.google.com/answer/2451065?hl=en" target="_blank" class="googleplus">
            <i class="fa-brands fa-google-plus"></i></a>
    </div>
</footer>
</body>
</html>

