{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Destinations</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
  <body>
  <header>
      <div id="logo">
        <img src="{% static 'images/clipart904585.png' %}"/>
        <a href="{% url 'home' %}">Home</a>
      </div>

      <div>
            <form id="searchbar" method="post">
                {{ form.target }}
                {% csrf_token %}
                {% if form.target %}
                    <button type="submit">Search</button>
                {% endif %}
            </form>
      </div>
      <nav>
          <ul role="list">
            <li><a href="{% url 'explore'%}">Explore</a></li>
            <li><a href="{% url 'catalogue' %}">Destinations</a></li>
          </ul>
          <ul role="list" class="nav-ul">
          {% if not user.is_authenticated %}
                <li><a href="{% url 'create profile' %}">Register</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
          {% else %}
                <li><a href="{% url 'create destination' %}">Add Destination</a></li>
                <li><a href="{% url 'details profile' %}">Profile</a></li>
                <li><a href="{% url 'logout options' %}">Logout</a></li>
          {% endif %}
          </ul>
      </nav>
  </header>

  <main>
    {% block content %}
    {% if user.is_authenticated %}
       <p class="welcome-user">Hello, {{ user.username }}!</p>
    {% endif %}
    <section id="main-content">
      <p>Discover amazing destinations and plan your next adventure.</p>
    </section>
    {% endblock %}
  </main>
  <footer>
    <p>&copy; 2023 Destinations Catalogue. G.Georgieva - All rights reserved.</p>
      <div id="connect">
          <a href="https://www.facebook.com/" target="_blank" class="facebook"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://www.instagram.com/" target="_blank" class="instagram"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://twitter.com/" target="_blank" class="twitter"><i class="fa-brands fa-twitter"></i></a>
          <a href="https://support.google.com/answer/2451065?hl=en" target="_blank" class="googleplus"><i class="fa-brands fa-google-plus"></i></a>
      </div>
  </footer>
</body>
</html>