{% extends 'common/index.html' %}
{% load static %}

{% block content %}
    <div>
        <h1 class="profile">Create Profile</h1>
        <form class="form" id="create-profile" method="post" action="">
             <div class="error-message">
                  {% for field in form %}
                    {% for error in field.errors %}
                      <p>* {{ error }}</p>
                    {% endfor %}
                  {% endfor %}
              </div>
             {% for field in form %}
                <div>
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            <i class="fa-solid fa-eye-slash first"></i>
            <i class="fa-solid fa-eye-slash second"></i>
            {% if form.errors %}
            {% endif %}
            {% csrf_token %}
            <button type="submit">Submit</button>
        </form>
    </div>
    <script src="{% static 'js/togglePasswordCreateProfile.js' %}"></script>
{% endblock %}