{% extends 'common/index.html' %}
{% load static %}

{% block content %}
     <div class="profile-details">
         <h1>Details profile:</h1>
        {% if profile.get_full_name %}
            <h2>{{ profile.get_full_name }}</h2>
        {% endif %}
        {% if profile.gender %}
            <p>Gender: {{ profile.gender }}</p>
        {% endif %}
        {% if profile.age %}
             <p>Age: {{ profile.age }}</p>
        {% endif %}
        {% if not profile.image %}
             <img src=" {% static 'images/user.png' %}" alt="profile pic" style="width: 200px;height: 200px">
        {% else %}
             <img src="{{ profile.image }}" alt="profile pic">
        {% endif %}
       <p>Username: {{ user }}</p>
        <div>
            <button><a class="" href="{% url 'edit profile' %}">Edit</a></button>
            <button><a class="" href="{% url 'delete profile' %}">Delete</a></button>
        </div>

     </div>
{% endblock %}