{% extends 'common/index.html' %}
{% load static %}

{% block content %}
     <div class="profile-details">
         <h1>Profile details:</h1>
        {% if profile.get_full_name %}
            <h2>{{ profile.get_full_name }}</h2>
        {% endif %}
{#        <p>You have liked {{  }} destinations</p>#}
         {% if profile.gender %}
            <p>Gender: {{ profile.gender }}</p>
        {% endif %}
        {% if profile.age %}
             <p>Age: {{ profile.age }}</p>
        {% endif %}
        {% if not profile.image %}
             <img src=" {% static 'images/user.png' %}" alt="profile pic" style="width: 200px;height: 200px">
        {% else %}
             <img src="{{ profile.image }}" alt="profile pic">
        {% endif %}
       <p>Username: {{ user }}</p>
       <p>You've got {{ favorite_destinations|length }} favorite destinations</p>
        <div class="profile-details-btns">
            <button class="btn"><a class="" href="{% url 'edit profile' %}">Edit</a></button>
            <button class="btn"><a class="" href="{% url 'delete profile' %}">Delete</a></button>
        </div>
     </div>

    {% if created_destinations %}
        <div class="profile-details">
            <p>These destinations were created by you:</p>
            {% for destination in created_destinations %}
                 <div class="created-destinations">
                    <div>
                        <h1>{{ destination.name }}, {{ destination.location }}</h1>
                        <img src="{{ destination.image.url }}">
                    </div>
                    <div class="date-details">
                        <p>Created at: {{ destination.created_at }}</p>
                        <p>Updated at: {{ destination.updated_at }}</p>
                        <button class="btn"><a href="{% url 'edit destination' destination.pk %}">Edit</a> </button>
                        <button class="btn"><a href="">Delete</a> </button>
                    </div>
                 </div>
            {% endfor %}
        </div>
    {% endif %}

{#    {% if favorite_destinations %}#}
{#        <div class="profile-details">#}
{#            <p>Your favorite destinations:</p>#}
{#            {% for destination in favorite_destinations %}#}
{#                <h1>{{ destination.name }}, {{ destination.location }}</h1>#}
{#                <img style="width: 200px" src="{{ destination.image.url }}">#}
{#            {% endfor %}#}
{#        </div>#}
{#    {% endif %}#}
{% endblock %}