* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
    background: url(../images/jennvmy_-uWpggIb3iHs-unsplash.jpg) no-repeat;
    background-size: cover ;
    display: flex;
    flex-direction: column;
    font-family: "Ysabeau Infant", sans-serif;
    width: 100%;
}

.catalogue {
    /*background: linear-gradient(to top, #9de3d7, #1b61e0);*/
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(27,97,224,1) 100%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

/*.header-catalogue {*/
/*    background-color: rgba(255, 255, 255, 0.01); !* Translucent white background color *!*/
/*    border-radius: 10px;*/
/*    border: 1px solid rgba(255, 255, 255, 0.3); !* Translucent white border *!*/
/*    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); !* Shadow for the glass effect *!*/
/*    backdrop-filter: blur(10px); !* Adds a blur effect to the background behind the element *!*/
/*    opacity: 0.9; !* Adjust the opacity to control the overall transparency *!*/
/*}*/

a {
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: bolder;
}

#logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-left: 1%;
    margin-top: 10px;
}

#logo img {
    /*width: 20%;*/
    width: 60px;
    margin: 10px 3px 10px 10px;
    transition: transform .7s ease-in-out;
}

#logo img:hover {
    transform: rotateY(360deg);
}

#searchbar {
    display: flex;
    margin-right: 45px;
    margin-top: 25px;
}

nav div:nth-child(2) {
   margin-right: 80px;
   margin-top: 10px;
}

#searchbar input {
    width: 270px;
    border-radius: 3px 0 0 3px;
    border: none;
    padding: 8px 0;
}

#searchbar input:focus {
    outline: none;
}

#searchbar button {
    border-radius:0 3px 3px 0;
    color: #fff;
    border: none;
    background-color: #85D1CD;
    padding: 4px 20px;
}

#searchbar button:hover {
    background-color: transparent;
    border: 5px solid #85D1CD;
    cursor: pointer;
    padding: 4px 15px;
}

ul {
    list-style: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-right: 50px;
    margin-top: 2%;
}

nav a {
    color: #5127A0;
}

nav a:hover {
    color: #00BDCD;
}

#main-content {
    font-size: 4.5rem;
    font-weight: bolder;
    text-align: center;
    color: #9a5e33;
    margin: 2% 20% 0 20%;
}

footer {
    font-weight: bolder;
    font-size: 1.4rem;
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 4%;
    width: 100%;
    position: fixed;
    bottom: 2%;
}

i {
    color: #fff;
}


