.destination-catalogue {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    width: 70%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /*border-radius: 20px;*/
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    margin-top: 20px;
    padding: 50px;
    margin-left: 50px;
    background-position: right 35% bottom 45%;
    box-sizing: border-box;
    border-radius: 15px;
    float: left;
    height: auto;
    position: relative;
    left: 12%;
    margin-bottom: 5%;
}


.picture-content-catalogue {
    display: flex;
    justify-content: space-evenly;
}

.destination-catalogue h1 {
    font-family: "Ysabeau Infant", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.5s ease-out;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    /*margin-top: 30%;*/
    /*margin-top: 10%;*/
}

.picture-content-catalogue img {
    /*width: 420px;*/
    /*height: 300px;*/
    width: 450px;
    height: 330px;
    object-fit: cover;
    border-radius: 15px;
}

.picture-content-catalogue .img-destination {
    width: 380px;
    height: 250px;

}

.destination-catalogue p {
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
}

.buttons-catalogue {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.buttons-catalogue i {
    color: #00348e;
    font-size: 1.8rem;
    padding-top: 20px;
}

.buttons-catalogue i:hover {
    cursor: pointer;
    color: #00BDCD;
}

.destination-details {
	border: none;
    display: flex;
    margin-top: 2%;
}

.destination-details button {
    color: #fff;
    background-color: #FCAB73;
    border: none;
    cursor: pointer;
    padding: 0 5px;
}

.comments-div {
    width: 40%;
}

.comments-header {
    text-align: center;
    color: #33fd01;
    font-size: 1.6rem;
    text-decoration: underline;
    margin: 7% 0 3% 0;
}

.comments-div .fa-pencil {
    font-size: 1rem;
    position: absolute;
    right: 30px;
    bottom: 25px;
    color: #00348e;
}

.comments-div .fa-trash {
    font-size: 1rem;
    position: absolute;
    right: 30px;
    bottom: 5px;
    color: #00348e;
}

.comment-user {
    font-size: 0.6rem;
    line-height: 1.3rem;
    margin-top: 3px;
}

.comment-content {
    box-shadow: 0 24px 7px -24px #46b9d0;
    border-radius: 3px;
    margin-bottom: 3px;
    position: relative;
}

/*body > main > div:nth-child(3) > div > div.comments-div > div.commented-div > div > p.from-them {*/
/*    border: 2px gray solid;*/
/*    border-radius: 50px 20px 20px 0;*/
/*}*/

.commented-div {
    height: 150px;
    overflow: scroll;
}

.commented-div::-webkit-scrollbar {
  width: 10px;
}

.commented-div::-webkit-scrollbar-thumb {
    background: #fff;
}

.commented-div::-webkit-scrollbar-thumb:hover {
    background: #00348e;
}

.buttons-div {
    display: flex;
    justify-content: center;
    /*margin-top: 5%;*/
}



/*Paginator CSS*/

.next {
    position: absolute;
    right: 7%;
    top: 50%;
    transform: translateY(-50%);
}

.previous {
    position: absolute;
    left: 7%;
    top: 50%;
    transform: translateY(-50%);
}

.page-number {
    color: white;
}

.section {
    position: absolute;
    left: 20px;
    top: 250px;
}

/*.imessage p {*/
/*  border-radius: 1.15rem;*/
/*  line-height: 1.25;*/
/*  max-width: 100%;*/
/*  padding: 0.5rem .875rem;*/
/*  position: relative;*/
/*  word-wrap: break-word;*/
/*}*/

/*.imessage p::before,*/
/*.imessage p::after {*/
/*  bottom: -0.1rem;*/
/*  content: "";*/
/*  height: 1rem;*/
/*  position: absolute;*/
/*}*/

/*p.from-them {*/
/*  align-items: flex-start;*/
/*  background-color: #e5e5ea;*/
/*  color: #000;*/
/*    padding-right: 20%;*/
/*    position: relative;*/
/*}*/

/*p.from-them:before {*/
/*  border-bottom-right-radius: 0.8rem 0.7rem;*/
/*  border-left: 1rem solid #e5e5ea;*/
/*  left: -0.35rem;*/
/*  transform: translate(0, -0.1rem);*/
/*}*/

/*p.from-them::after {*/
/*  background-color: #fff;*/
/*  border-bottom-right-radius: 0.5rem;*/
/*  left: 20px;*/
/*  transform: translate(-30px, -2px);*/
/*  width: 10px;*/
/*}*/

.pagination-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


/*.pagination {*/
/*    display: flex;*/
/*    justify-content: space-evenly;*/
/*    align-items: center;*/
/*    margin-top: 1.5rem;*/
/*}*/

/*.pagination div {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-basis: 33.33%;*/
/*    flex-grow: 1;*/
/*}*/

/*.pagination a,*/
/*.pagination span {*/
/*    text-decoration: none;*/
/*    color: #f3efec;*/
/*    font-size: 24px;*/
/*    !*text-shadow: 4px 4px 8px black;*!*/
/*    !*background-color: black;*!*/
/*    !*border-radius: 20px 0 20px 0;*!*/
/*    !*padding: 5px 15px;*!*/
/*}*/
