.speech-wrapper {
    padding: 30px 40px;
}

.bubble {
    width: 240px;
    height: auto;
    display: block;
    /*background: #f5f5f5;*/

    border-radius: 4px;
    box-shadow: 2px 8px 5px #000;
    position: relative;
    margin: 0 0 25px;
}

.name {
    font-weight: 600;
    font-size: 12px;
    margin: 0 0 4px;
    color: #3498db;
}

span{
          font-weight: normal;
          color: #b3b3b3;
        }

.message{
        font-size: 12px;
        margin: 0;
        color: #2b2b2b;
      }

 .timestamp{
        font-size: 11px;
        position: absolute;
        bottom: 8px;
        right: 10px;
        text-transform: uppercase; color: #999
      }

  .bubble-arrow {
      position: absolute;
      width: 0;
      bottom: 42px;
      left: -16px;
      height: 0;
  }

  .bubble-arrow:after {
      content: "";
      position: absolute;
      border: 0 solid transparent;
      border-top: 9px solid #f5f5f5;
      border-radius: 0 20px 0;
      width: 15px;
      height: 30px;
      transform: rotate(145deg);
    }

  .bubble-arrow.alt:after {
      transform: rotate(45deg) scaleY(-1);
    }