.profile {
    color: #9A5E33;
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
    margin-top: 5px;
}

.profile-details {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    width: 40%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /*border-radius: 20px;*/
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    margin-top: 20px;
    padding: 50px;
    margin-left: 50px;
    background-position: right 35% bottom 45%;
    box-sizing: border-box;
    border-radius: 15px;
    /*float: left;*/
    height: auto;
    position: relative;
    left: 30%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-details h1 {
    color: #fff;
    font-size: 3rem;
}

.profile-details h2 {
    color: #fff;
    font-size: 2.2rem;
}

.profile-details p {
    color: #fff;
    font-size: 1.8rem;
}

.profile-details img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.profile-details .btn {
    margin-top: 10%;
    padding: 0 5px;
}

.profile-details .btn:first-of-type {
    margin-right: 8%;
}

.profile-details-btns {
    width: 200px;
}


.created-destinations {
    display: flex;
    width: 500px;

}

.created-destinations p {
    font-size: 16px;
}

.created-destinations .btn {
    /*position: relative;*/
    /*top: 60%;*/
}



.created-destinations .date-details {
    margin-top: 30%;
    margin-left: 10%;
}

.created-destinations .date-details .btn {
    margin-top: 10%;
    padding: 0 5px;
}

.created-destinations .date-details .btn:first-of-type {
    margin-right: 8%;
}

.created-destinations div:nth-child(1) {
    width: 300px;
    margin-bottom: 20px;
}

.btns-logout {
    margin-top: 2%;
    margin-left: 40%;
}

.btns-logout a {
    padding: 5px 25px 5px 25px;
}

.btns-logout a:first-of-type {
    margin-right: 10px;
}