@media screen and (max-width: 360px){
     nav{
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width: 600px){
    nav{
        display: flex;
        flex-direction: column;
    }
}