{% extends 'common/index.html' %}
{% load static %}

{% block content %}
    <div class="div-continents">
        <h2 class="explore-heading">Explore more destinations</h2>
        <p class="explore-description">Find things to do in cities around the world<p>
        <nav>
            <ul role="list" class="ul-continents">
                {% for continent in continents %}
                    <li class="li-continent {{ continent.name|lower }}"><a href="" id="a-continent">{{ continent }}</a> </li>
                {% endfor %}
            </ul>
        </nav>
        {% for continent in continents %}
            <div class="section-explore {{ continent.name }}" style="display: none">
            {% for destination in explore_destinations %}
                 {% if destination.continent_id == continent.id %}
                    <div class="section-show-continent">
                        <h2>{{ destination.name }}</h2>
                        <a href="{% url 'attraction' destination.id %}"><img src="{{ destination.image.url }}"></a>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
    </div>
   <script src="{% static 'js/exploreHideAndShow.js' %}"></script>
    <script src="{% static 'js/fadeInEffect.js' %}"></script>
{% endblock %}